#header img{
    width: 100%;
}

#main .template{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    background-color: #F0F0F0;
}

#main .template h2{
    margin:0;
}

#main .template p{
    margin:0;
}

.footer img{
    width: 26px;
    height: 26px;
}